.callback {
    background: url('../images/callback-bg.png') center center no-repeat;
    background-size: cover;

    .callback__container {
        padding-top: 50px;
        padding-bottom: 50px;
        color: #ffffff;
        align-items: center;
        justify-content: center;
    }

    .callback__title {
        margin: 0;
        margin-bottom: 50px;
        font-size: 48px;
        line-height: 68px;
        text-align: center;

        @include tablets() {
            line-height: 55px;
            margin-bottom: 0;
        }

        .color {
            color: $blue;
        }
    }

    .callback__text {
        font-size: 24px;
        line-height: 36px;
        font-style: bold;
    }

    .callback__form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;

        @include tablets() {
            flex-direction: column;
            width: 100%;
        }

        .form__inp {
            width: 30%;
            background: none;
            padding: 12px;
            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 4px;

            @include tablets() {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .form__btn {
            width: 30%;
            background: $blue;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            padding: 12px;
            color: #ffffff;
            text-transform: uppercase;
            transition: .3s;

            @include tablets() {
                width: 100%;
            }

            &:hover {
                background: lighten($color: $blue, $amount: 20);
            }
        }
    }

    .callback__star {
        font-size: 12px;
        text-align: left;
    }
}