.services {
    background: #E5E5E5;
    padding-bottom: 50px;

    .services__title {
        font-size: 42px;
        text-align: center;

        @include tablets() {
            line-height: 55px;
        }
    }

    .services__text {
        font-size: 18px;
    }
}