.services {
    background: #E5E5E5;
    padding-bottom: 50px;

    .services__title {
        font-size: 48px;
        text-align: center;
    }

    .services__text {
        font-size: 18px;
    }
}