.type {
    background: #E5E5E5;

    &--page {
        padding-top: 100px;
    }

    .type__container {
        padding-top: 150px;
        padding-bottom: 100px;

        @include tablets() {
            padding-top: 300px;
        }
    }

    .type__title {
        text-align: center;
        font-size: 36px;
        margin: 0;
        margin-bottom: 50px;
    }

    .type__content {
        display: flex;
        width: 100%;

        @include tablets() {
            flex-direction: column;
        }

        .type__nav {
            display: flex;
            flex-direction: column;
            width: 20%;
            margin-right: 20px;

            @include tablets() {
                width: 100%;
                align-items: center;
            }

            .nav__item {
                font-size: 24px;
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 25px;
                cursor: pointer;
                transition: .3s;

                &--active {
                    color: $blue;
                    text-decoration: underline;
                }

                &:hover {
                    color: $blue;
                    text-decoration: underline;
                }
            }
        }

        .type__all {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            width: 80%;

            @include tablets() {
                width: 100%;
            }

            .all__item {
                width: 23%;
                height: 195px;
                margin-bottom: 35px;
                position: relative;
                margin-right: 17px;

                @include tablets() {
                    width: 45%;
                    height: 150px;
                    overflow: hidden;
                }
            }

            .item__link {
                width: 100%;
                height: 100%;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;    
                text-decoration: none;
                transition: .3s;
                position: relative;

                &:hover {
                    color: $blue;
                    opacity: .9;
                }
            }

            .link__img {
                position: absolute;
                width: 100%;
            }

            .item__text {
                max-width: 150px;
                font-size: 24px;
                text-align: center;
                z-index: 10;

                @include tablets() {
                    font-size: 20px;
                }
            }
        }
    }
}

.type--main {
    padding-top: 150px;
}