.zone {
    background: #E5E5E5;
    padding-top: 150px;
    
    .zone__title {
        font-size: 36px;
        text-align: center;
        margin: 0;
        margin-bottom: 60px;
    }

    .zone__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .zone__item {
            width: 22%;
            height: 268px;
            position: relative;
            margin-right: 30px;
            margin-bottom: 30px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px;

            &:nth-child(4n) {
                margin-right: 0;
            }

            .item__link {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 60px;
                text-decoration: none;
                transition: .3s;

                &:hover {
                    opacity: .8;
                }
            }

            .item__img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
            }

            .item__title {
                font-size: 24px;
                margin: 0;
                z-index: 10;
                color: #ffffff;
                text-align: center;
            }
        }
    }
}