<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Центр отдыха "Парус"</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header class="header header--dark">
        <div class="container header__container">
            <a href="#" class="header__logo">
                <img src="./assets/images/logo.png" alt="Logo" class="logo__img">
            </a>
            <div class="header__phone">
                <div class="phone__logo">
                    <img src="./assets/images/phone.png" alt="phone" class="logo__img">
                </div>
                <div class="phone__content">
                    <a href="tel:+73512485804" class="content__text">+7(351)248-58-04</a>
                    <button class="content__btn">Заказать звонок</button>
                </div>
            </div>
            <button class="header__location">
                <div class="location__logo">
                    <img src="./assets/images/map.png" alt="phone" class="logo__img">
                </div>
                <p class="location__text">Выбрать локацию отдыха</p>
            </button>
            <button class="header__menu">Меню
                <div class="menu__logo">
                    <img src="./assets/images/menu.png" alt="menu" class="logo__img">
                </div>
            </button>
        </div>
    </header>
    <section class="section zone">
        <div class="container zone__container">
            <h1 class="zone__title">Мангальные зоны «Белого паруса»</h1>
            <ul class="zone__list">
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
                <li class="zone__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/service-1.png" alt="zone" class="item__img">
                        <h3 class="item__title">Мангальная зона №1</h3>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="section services">
        <div class="container services__container">
            <h1 class="services__title">«Центр Отдыха» это возможность выбрать любой отдых на ваш вкус</h1>
            <p class="services__text">
                Уважаемые дамы и господа, мы рады приветствовать Вас на сайте «ЦЕНТР ОТДЫХА»! Вот и приблизилось
                время отпусков, а как Вы знаете, нет лучшего отдыха, чем проведенный на свежем воздухе под лучами
                южного солнца и солеными брызгами.
            </p>
            <p class="services__text">
                И если Вы собрались на в 2018 году и в данный момент занимаетесь поиском подходящего места для
                отдыха, которое будет соответствовать всем Вашим требованиям, то, находясь на страницах нашего
                веб-сайта, Вы сможете найти для себя всю нужную информацию.
            </p>
        </div>
    </section>
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__nav">
                <div class="nav__type">
                    <h1 class="type__title">Центр отдыха</h1>
                    <ul class="type__list">
                        <li class="list__item">
                            <a href="#" class="item__link">Белый парус</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="item__link">База отдыха</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="item__link">Ревьера</a>
                        </li>
                    </ul>
                </div>
                <div class="nav__menu">
                    <h1 class="menu__title">Меню</h1>
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="item__link">Главная</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="item__link">Все услуги</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="item__link">Галерея</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="item__link">О нас</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="item__link">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="nav__contacts">
                    <h1 class="contacts__title">Контакты</h1>
                    <ul class="contacts__list">
                        <li class="contacts__item">
                            <a href="tel:+73512485804" class="item__link">+7(351)248-58-04</a>
                        </li>
                        <li class="contacts__item">
                            <a href="tel:+73512485804" class="item__link">+7(351)248-58-04</a>
                        </li>
                        <li class="contacts__item">
                            <a href="mailto:center-rf@gmail.com" class="item__link">center-rf@gmail.com</a>
                        </li>
                        <li class="contacts__item">
                            <button class="item__btn">Обратная связь</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__copy">
                <p class="footer__text">&copy; Центр отдыха, 2018</p>
                <a href="#" target="_blank" class="footer__rp">
                    <p class="rp__text">Создание и продвижение сайта</p>
                    <img src="./assets/images/rp.png" alt="logo" class="rp__logo">
                </a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>